<header class="mb-6">
  <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-100">
    Loan Request
  </h1>
  <p class="text-gray-600 dark:text-gray-400">
    Get all loans requested by users!
  </p>
</header>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
  <div
    class="bg-white dark:bg-gray-900 rounded shadow p-4 cursor-pointer"
    [routerLink]="['/admin/loan-request/admin-home-loan']"
  >
    <h2 class="text-xl font-bold">🏠 Home Loan</h2>
  </div>
  <div
    class="bg-white dark:bg-gray-900 rounded shadow p-4 cursor-pointer"
    [routerLink]="['/admin/loan-request/admin-education-loan']"
  >
    <h2 class="text-xl font-bold">🎓 Education Loan</h2>
  </div>
  <div
    class="bg-white dark:bg-gray-900 rounded shadow p-4 cursor-pointer"
    [routerLink]="['/admin/loan-request/admin-personal-loan']"
  >
    <h2 class="text-xl font-bold">👤 Personal Loan</h2>
  </div>
</div>
<div class="mt-5">
  <router-outlet></router-outlet>
</div>
